body {
  background-color: #efefef;
  color: #494848;
}

.widget {
  padding: 0.5em;
}

.widget.container {
  background-color: #ffffff;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  vertical-align: middle;
}

.widget .item {
  font-size: 0.9em;
  border-right: 1px solid #bfbfbf;
  padding: 0.5em;
  padding-top: 0.1em;
}
.widget .item:last-child {
  border-right: none;
}

.widget .item .title {
  font-weight: bold;
}

.widget .item .changes {
  font-size: 0.8em;
}
